<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manniu.screen.mapper.LockScreenUserLockPermissionsMapper">
    <delete id="deleteByDataId">
        update lock_screen_user_lock_permissions
        set del_flag = '2'
        where id = #{id}
    </delete>

    <select id="selectUserLockPermissionsList"
      resultType="com.manniu.screen.vo.view.LockScreenUserLockPermissionsViewVO">
        select t.*,
               CASE
                   WHEN t.authorization_flag = 0 THEN '下发失败'
                   ELSE '下发成功'
                   END       AS authorization_flag_str,
               e.description as electronic_lock_description,
               e.lock_id,
               e.id          as electronicLock_id,
               control.id    as network_control_id,
               control.name  as network_control_name,
               control.ip,
               control.device_id
        from lock_screen_user_lock_permissions t
                 left join sys_user u on t.user_id = u.user_id
                 left join lock_screen_electronic_lock e on t.electronic_lock_id = e.id
                 left join lock_screen_network_control control on e.network_control_id = control.id
        where t.del_flag = 0
          and t.user_id = #{userId}
        <if test="authorizationFlag != null">
            AND t.authorization_flag =#{authorizationFlag}
        </if>
        order by t.create_time desc
    </select>
</mapper>