<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockCabinetMapper">
    <delete id="deleteByIds">
        update lock_cabinet set del_flag = '2' where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectCabinetList" resultType="com.ruoyi.web.domain.vo.LockCommonViewVO">
        select t.*,c.name as machine_room_name from lock_cabinet t left join lock_machine_room c on
        c.id =t.machine_room_id and c.del_flag = '0'
        where t.del_flag = '0'
        <if test="name != null and name !='' ">
            AND t.name like concat('%',#{name},'%')
        </if>
        <if test="description != null and description !='' ">
            AND t.description like concat('%',#{description},'%')
        </if>
        <if test="machineRoomId != null">
            AND c.id =#{machineRoomId}
        </if>
        <if test="machineRoomName != null and machineRoomName !='' ">
            AND c.name like concat('%',#{machineRoomName},'%')
        </if>
        order by t.create_time desc
    </select>
</mapper>