<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockUnlockLogMapper">
    <select id="selectTotalByStartAndEndDate"
      resultType="com.ruoyi.web.domain.vo.index.Recent12MonthsStatisticsVO">
        SELECT SUM(id) as warnInfoTotal
        FROM lock_warn_info
        where create_time <![CDATA[ >= ]]> #{startDate}
          and create_time <![CDATA[ <= ]]> #{endDate}
        GROUP BY MONTH (create_time);
    </select>
</mapper>