<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockPdaDataSynchronizationInfoMapper">

    <select id="getLastByDeviceId"
            resultType="com.ruoyi.web.domain.LockPdaDataSynchronizationInfo">
        select *
        from lock_pda_data_synchronization_info
        where pda_id = #{deviceId}
        order by create_time desc limit 1

    </select>
    <select id="selectSynchronizationInfoList"
            resultType="com.ruoyi.web.domain.vo.pda.LockPdaDataSynchronizationInfoViewVO">
        select info.*,pda.only_key as pda_key,pda.description as pda_description
        from lock_pda_data_synchronization_info info
        inner  join lock_pda_info pda on pda.id = info.pda_id and pda.del_flag = '0'
        where  info.del_flag ='0'
        <if test="pdaId != null">
            AND info.pda_id = #{deviceId}
        </if>
        <if test="status != null">
            AND info.status = #{status}
        </if>
        <if test="type != null">
            AND info.type = #{type}
        </if>
    </select>
</mapper>