<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockPortInfoMapper">
    <delete id="deleteByEquipmentIds">
        update lock_port_info set del_flag = '2' where equipment_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectPortInfoList" resultType="com.ruoyi.web.domain.LockPortInfo">
        select t.*
        from lock_port_info t
        where t.del_flag = '0'
        <if test="equipmentId != null ">
            AND t.equipment_id =#{equipmentId}
        </if>
        order by t.create_time desc
    </select>
    <select id="selectPortTotal" resultType="java.lang.Integer">
        select count(*)
        from lock_port_info
        where del_flag = '0';
    </select>
    <select id="selectLockPortTotal" resultType="java.lang.Integer">
        select count(*)
        from lock_port_info
        where del_flag = '0'
          and deployment_status <![CDATA[< ]]> 3
          and user_code != '';
    </select>
    <select id="selectUseTotal" resultType="java.lang.Integer">
        select count(*)
        from lock_port_info
        where del_flag = '0'
          and deployment_status = 2
          and user_code != '';
    </select>
    <select id="selectNoUseTotal" resultType="java.lang.Integer">
        select count(*)
        from lock_port_info
        where del_flag = '0'
          and deployment_status = 1;
        and user_code != '';
    </select>
    <select id="selectPortStatisticsVOList"
            resultType="com.ruoyi.web.domain.vo.index.PortStatisticsVO">
        SELECT site.id   AS site_id,
               site.name AS site_name,
               pi.deployment_status,
               pi.user_code
        FROM lock_port_info pi
                 INNER JOIN lock_equipment equ ON equ.id = pi.equipment_id
            AND equ.del_flag = '0' and pi.del_flag = '0'
                 INNER JOIN lock_cabinet cab ON equ.cabinet_id = cab.id
            AND cab.del_flag = '0'
                 INNER JOIN lock_machine_room room ON room.id = cab.machine_room_id
            AND room.del_flag = '0'
                 INNER JOIN lock_site site ON site.id = room.site_id
            AND site.del_flag = '0'


    </select>
    <select id="selectIdleTotal" resultType="java.lang.Integer">
        select count(*)
        from lock_port_info
        where del_flag = '0'
          and deployment_status = 1
          and user_code != '';
    </select>
    <select id="selectonitorPortList"
      resultType="com.ruoyi.web.domain.vo.MonitorPortViewVO">
        SELECT e.ip             AS ip,
               e.community      AS community,
               pi.serial_number AS port_index,
               pi.id            AS port_id
        FROM lock_port_info pi
                 INNER JOIN lock_equipment e ON e.id = pi.equipment_id
        WHERE pi.deployment_status <![CDATA[< ]]> 3
          AND pi.del_flag = 0
          AND e.ip != ""
          and e.active_defense_flag = 1
	AND e.community != ''
	AND e.del_flag = 0
        order by pi.create_time desc
    </select>
    <select id="selectListByEquipmentIds" resultType="com.ruoyi.web.domain.LockPortInfo">
        select * from lock_port_info where equipment_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and del_flag = '0'
    </select>

</mapper>