<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockSiteMapper">
    <delete id="deleteByIds">
        update lock_site set del_flag = '2' where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectSiteList" resultType="com.ruoyi.web.domain.vo.LockCommonViewVO">
        select t.*,company.name as company_name from lock_site t left join lock_company company on t.company_id
        = company.id and company.del_flag = '0'
        where t.del_flag = '0'

        <if test="name != null and name !='' ">
            AND t.name like concat('%',#{name},'%')
        </if>
        <if test="description != null and description !='' ">
            AND t.description like concat('%',#{description},'%')
        </if>
        <if test="companyId != null ">
            AND company.id =#{companyId}
        </if>
        <if test="companyName != null and companyName !='' ">
            AND company.name like concat('%',#{companyName},'%')
        </if>
        <if test="paramMap.companyScope != null and paramMap.companyScope !='' ">
            and ${paramMap.companyScope}
        </if>
        order by t.create_time desc
    </select>
    <select id="selectAllList" resultType="com.ruoyi.web.domain.LockSite">
        select t.*
        from lock_site t
        left join lock_company company on t.company_id = company.id and company.del_flag = '0'
        where t.del_flag = '0'
        <if test="paramMap.companyScope != null and paramMap.companyScope !='' ">
            and ${paramMap.companyScope}
        </if>

    </select>
</mapper>