<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.LockUnlockLogMapper">
    <select id="selectTotalByStartAndEndDate"
      resultType="com.ruoyi.web.domain.vo.index.Recent12MonthsStatisticsVO">
        SELECT SUM(id) as warnInfoTotal
        FROM lock_warn_info
        where create_time <![CDATA[ >= ]]> #{startDate}
          and create_time <![CDATA[ <= ]]> #{endDate}
        GROUP BY MONTH (create_time);
    </select>
    <select id="selectUnlockList" resultType="com.ruoyi.web.domain.vo.pda.LockUnlockViewVO">
        SELECT unlog.*,
        pda.description as pda_description,
        pu.user_name as pda_user_name,
        equ.name AS equipment_name,
        pi.serial_number AS port_Index
        FROM lock_unlock_log unlog
        inner JOIN lock_pda_user pu ON pu.id = unlog.pda_user_id
        inner JOIN lock_pda_info pda ON pda.id = pu.pda_id
        inner JOIN lock_port_info pi ON pi.id = unlog.port_id
        inner JOIN lock_equipment equ ON pi.equipment_id = equ.id
        <if test="status != null">
            AND unlog.status =#{status}
        </if>
        <if test="userName != null">
            AND pu.user_name like CONCAT('%',#{userName},'%')
        </if>
        <if test="lockSerialNumber != null">
            AND pi.user_code like CONCAT('%',#{lockSerialNumber},'%')
        </if>
        order by unlog.create_time desc
    </select>
</mapper>